name: ziye-sync
on:
  schedule:
    - cron: '1 12,23 * * *'
  workflow_dispatch:
  watch:
    types: started
  repository_dispatch:
    types: sync-ACL4SSR-ACL4SSR
jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }} 
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: sync ACL4SSR-ACL4SSR
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/ACL4SSR/ACL4SSR.git"
          source_branch: "master"
          destination_branch: "master"
          github_token: ${{ secrets.PAT }}
